/* You can add global styles to this file, and also import other style files */
$border-color: #efefef;
$main-container-margin: 20px;
$main-container-padding: 30px;

$tooltip-color: #f8f8f2;
$tooltip-background: #282a36;
$tool-tip-radius: 4px;
$tool-tip-max-width: 150px;
$tooltip-font-size: 12px;
$tooltip-padding: 3px 8px;

.container {
    border: 1px solid $border-color;    
    margin-top: $main-container-margin;
    margin-bottom: $main-container-margin;
    padding: $main-container-padding;
}

.ng-tooltip {
    position: absolute;
    max-width: $tool-tip-max-width;
    font-size: $tooltip-font-size;
    text-align: center;
    color: $tooltip-color;
    padding: $tooltip-padding;
    background: $tooltip-background;
    border-radius: $tool-tip-radius;
  }
  
 .ng-tooltip-show {
    opacity: 1;
 }

